* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.header {
  background-color: #9564aa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 26px;
}

.header svg {
  padding-top: 17px;
}

.off-screen-menu {
  background-color: #9564aa;
  width: 40%;
  max-width: 450px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -450px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
  transition: 0.3s ease;
}
.off-screen-menu.active {
  left: 0;
}

header nav {
  padding: 0.75rem;
  display: flex;
  background-color: #9564aa;
}

.ham-menu {
  height: 25px;
  width: 25px;
  margin-right: auto;
  position: relative;
}

.ham-menu span {
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.page {
  padding: 15px 20px;
}

.heading-line {
  width: 280px;
  height: 2px;
  background-color: #9564aa;
  opacity: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-text {
  font-size: 40px;
}

.container {
  padding-block: 1rem;
}

.card-list .card-item {
  width: 260px;
  height: 50px;
  border-radius: 10px;
  background: #9564aa1a;
  border: 2px solid #9564aa;
  color: black;
}

.slider-wrapper {
  width: 260px;
  margin-left: 10px;
}

.card-text {
  margin-left: 140px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.card-text-item {
  width: 12px;
  height: 9px;
  padding: 4px 3px;
  border-radius: 20px;
  background-color: #ffcf2d;
  font-size: 8px;
  color: black;
}

.card-item.hovered-by-button {
  background: #9564aa;
  color: white;
}

.card-item.hovered-by-button::after {
  content: "One time offer!";
  color: black;
  background-color: #ffcf2d;
  position: absolute;
  top: 15px;
  right: 147px;
  width: 103px;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 10px;
  border-radius: 5px;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.swiper {
  width: 300px;
  height: 70px;
}

.swiper-pagination-bullet {
  background-color: #ffcf2d;
  opacity: 1;
}

.button-authethication {
  display: flex;
  flex-direction: column;
}

.button {
  width: 280px;
  height: 55px;
  border-radius: 10px;
  background: #ffcf2d;
  border: none;
  font-weight: 700;
  font-size: 16px;
  margin-top: 20px;
  color: black;
  cursor: pointer;
}

input[type="checkbox"] {
  accent-color: #c56fff;
  width: 30px;
  height: 20px;
  border: 1px solid #ffffff;
}

.privacy {
  display: flex;
  column-gap: 10px;
  margin-top: 15px;
  font-size: 10px;
  line-height: 16px;
}

.checkbox-discription-item {
  color: #9564aa;
}

.main-list {
  column-gap: 13px;
  margin-top: 30px;
}
.main-list-img {
  margin-left: 97px;
  margin-bottom: 10px;
}

.main-list-item {
  text-decoration: none;
  color: #9564aa;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  font-weight: 700;
  font-size: 12px;
}

.main-theme-list-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.mobile-header {
  display: flex;
  column-gap: 226px;
}
.desktop-header {
  display: none;
}

.user {
  display: none;
}

.advertise {
  display: none;
}

.visual-hidden{
  display: none;
}

@media (min-width: 375px) {
  .page {
    padding: 15px 45px;
  }
  .card-text::after {
    left: 233px;
  }
  .card:hover::after {
    left: 45px;
  }

  .mobile-header {
    column-gap: 276px;
  }
}

@media (min-width: 425px) {
  .page {
    padding: 15px 65px;
  }
  .card-text::after {
    left: 253px;
  }
  .card:hover::after {
    left: 65px;
  }
  .mobile-header {
    column-gap: 326px;
  }
}

.discount-banner {
  display: none;
}

.cards{
  display: none;
}

.main-text {
  font-size: 20px;
}

@media (width >=768px) {
  .heading-line {
    width: 100%;
  }

  .page {
    display: flex;
    padding: 15px 25px;
    column-gap: 30px;
    justify-self: center;
  }

  .main {
    width: 45.31vw;
  }
  
  .header svg {
    padding-top: 0px;
  }

  .user {
    display: block;
    width: 270px;
    background: #9564aa1a;
    height: 100vh;
    border-radius: 10px;
    border: 2px solid #9564aa33;
    padding: 18px 18px;
  }
  .user-id {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .user-name {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .user-premium {
    text-transform: uppercase;
    color: white;
    background: #684677;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px 10px;
  }
  .user-list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 12px;
    margin-top: 21px;
    gap: 25px;
  }
  .user-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.56vw;
  }

  .user-list-item a {
    color: black;
  }

  .desktop-header {
    display: flex;
    flex-direction: row;
    height: 5.21vw;
    background: #9564aa;
    width: 100%;
    column-gap: 33.78vw;
    align-items: center;
    color: #ffffff;
  }

  .desktop-list {
    display: flex;
    flex-direction: row;
    column-gap: 2.08vw;
    align-items: center;
  }
  .logo {
    font-size: 2.5vw;
  }
  .desktop-list-items {
    display: flex;
    white-space: nowrap;
    column-gap: 2.08vw;
    font-weight: 700;
    font-size: 1vw;
  }

  .premium {
    display: flex;
    justify-self: center;
    align-items: center;
    color: #ffcf2d;
    background: #684677;
    padding: 6px 13px;
    border-radius: 10px;
    column-gap: 10px;
    font-weight: 700;
    font-size: 1vw;
  }
  .main-text {
    text-shadow: 2px 2px #00000040;
    font-size: 30px;
  }
.advertise {
  display: block;
  background: #C15CA1;
  width: 100%;
  border-radius: 10px;
  height: 82px;
}


  .mobile-header {
    display: none;
  }

  .desktop-header {
    margin-left: 19.69vw;
  }

  .button {
    display: none;
  }

  .swiper-pagination-bullet {
    display: none;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 26px;
  }

  .card-item {
    flex: 1 1 calc(33% - 10.66px);
    width: 150px;
    height: 123px;
    border-radius: 10px;
    background: #9564aa1a;
    border: 2px solid #9564aa;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding-bottom: 12px;
  }
  .card-button {
    background: white;
    border: none;
    border-radius: 10px;
    width:120px;
    padding: 17px 28px;
    font-size: 16px;
    opacity: 30%;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
  }
  .card-item.hovered {
    background: #9564AA;
    color: white;
  }
  
  .card-item.hovered .card-button {
    background: #ffcf2d;
    color: #000;
    opacity: 1;
    cursor: pointer;
  }

  .special-offer {
    position: relative;
  }
  
  .special-offer::before {
    content: "";
    position: absolute;
    opacity: 0;
  }
  
  .special-offer.hovered::before {
    content: "One time offer!";
    top: -10px;
    left: 20px;
    background-color: #ffcf2d;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1;
    font-family: 'Ubuntu', sans-serif;
    opacity: 1;
  }

  .card-text {
    margin-left: 0px;
    font-weight: 700;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
  }
  .main-list {
    margin-top: 7.81vw;
  }

  .main-theme-list-item {
    flex-direction: column;
    text-align: center;
  }
  .visual-hidden {
    display: block;
  }
  .top-center {
    transform: translate(-20%, -300%);
  }

  .top-right {
    transform: translate(30%, -270%);
  }

  .right {
    transform: translate(-35%, -400%);
  }

  .bottom-right {
    transform: translate(15%, -520%);
  }

  .bottom-left{
    transform: translate(-30%, -480%);
  }

  .bottom-right-right {
    transform: translate(10%, -590%);
  }
  .swiper {
    display: none;
  }
  .main-list-img{
    width:109px;
    height: 87px;
  }

  .discount-banner {
    display: block;
    background-color: #bb67a0;
    color: #fff;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    margin: 20px auto;
  }

  .discount-text {
    font-size: 20px;
    color: #FFEF5E;
    font-weight: bold;
    margin-right: 15px;
    white-space: nowrap;
    text-shadow:
  -1px -1px 0 #fff,
   1px -1px 0 #fff,
  -1px  1px 0 #fff,
   1px  1px 0 #fff; 
  }

  .offer-text {
    font-size: 10px;
    margin-right: auto;
    white-space: wrap;
    font-weight: 700;
  }

  .timer {
    background: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 6px;
    min-width: 100px;
    text-align: center;
  }
}

@media (width >= 1024px){
  .card-item {
    flex: 1 1 calc(25% - 12px);
  }
  .special-offer.hovered::before {
    left:7px;
  }
  .main-list {
    justify-self: center;
    align-items: center;
  }
  .main-text {
    font-size: 40px;
  }  
  .main-list-img{
    width:129px;
    height: 107px;
  }
  .top-center {
    transform: translate(-10%, -330%);
  }
  .top-right {
    transform: translate(80%, -300%);
  }

  .right {
    transform: translate(-35%, -400%);
  }

  .bottom-right {
    transform: translate(55%, -560%);
  }

  .bottom-left{
    transform: translate(-10%, -480%);
  }

  .bottom-right-right {
    transform: translate(50%, -590%);
  }
  .discount-text {
    font-size: 30px;
  }
  .offer-text {
    font-size: 10px;
}

@media (width >= 1440px){
  .card-item {
    flex: 1 1 calc(22% - 52px);
  }
  .special-offer.hovered::before {
    left:10px;
  }

  .main-list-img{
    width:129px;
    height: 107px;
  }
  .top-center {
    transform: translate(-10%, -360%);
  }
  .top-right {
    transform: translate(80%, -300%);
  }

  .right {
    transform: translate(-35%, -400%);
  }

  .bottom-right {
    transform: translate(55%, -580%);
  }

  .bottom-left{
    transform: translate(-10%, -480%);
  }

  .bottom-right-right {
    transform: translate(50%, -590%);
  }
  .discount-text {
    font-size: 40px;
  }
  .offer-text {
    font-size: 16px;
}

@media (width >= 1920px){
  .special-offer.hovered::before {
    left:18px;
  }

  .main-list-img{
    width:129px;
    height: 107px;
  }
}