* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: #9564AA;
    width: 320px;
    height: 50px;
}
.page {
    padding: 15px 20px;
}
.heading-line {
    width: 14.58vw;
    height: 2px;
    background-color: #9564AA;
    opacity: 20%;
}

h3 {
    font-size: 20px;
    margin-left: 10px;
}
.button-authethication {
    display: flex;
    flex-direction: column;
}
.button {
    width: 280px;
    height: 55px;
    border-radius: 10px;
    background: #FFCF2D;
    border: none;
}

input[type="checkbox"] {
    accent-color: #C56FFF;
    width: 20px;
    height: 20px;
    border: 1px solid #FFFFFF;
}
