* {
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background-color: #9564AA;
    height: 50px;
}
.page {
    padding: 15px 20px;
}
.heading-line {
    width: 280px;
    height: 2px;
    background-color: #9564AA;
    opacity: 20%;
    margin-top: 10px;
    margin-bottom: 23px;
}

h3 {
    font-size: 20px;
}
.button-authethication {
    display: flex;
    flex-direction: column;
}
.button {
    width: 280px;
    height: 55px;
    border-radius: 10px;
    background: #FFCF2D;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

input[type="checkbox"] {
    accent-color: #C56FFF;
    width: 30px;
    height: 20px;
    border: 1px solid #FFFFFF;
}
.privacy {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
    font-size: 10px;
    line-height: 16px;
}

.checkbox-discription-item {
    color: #9564AA;
}

.main-list {
    column-gap: 13px;
    margin-top: 32px;
}
.main-list-img {
    margin-left: 97px;
}

.main-list-item {
    text-decoration: none;
    color: #9564AA;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    font-weight: 700;
    font-size: 12px;
}

.main-theme-list-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.card {
    background: #9564AA1A;
    border: 2px solid #9564AA;
    border-radius: 10px;
    width: 260px;
    height: 59px;
    margin-left: 20px;
    margin-bottom: 50px;
    font-size: 23px;
    font-weight: 700;
}

.card-text {
    margin-left: 135px;
    margin-top: 15px;
}

.card-text::after {
    content: "CR"; 
    width: 17px; 
    height: 17px;
    background-color: #F7CF4D; /* Цвет круга */
    color: black;
    font-weight: bold;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    position: absolute;
    left: 208px; 
    top: 145px;
}

.card:hover {
    background-color: #9564AA;
    color: white;
}

.card:hover::after {
    content: 'One time offer!';
    color:black;
    background-color: #F7CF4D;
    font-size: 14px;
    border-radius: 5px;
    padding: 3px 10px;
    position: absolute;
    left: 20px; 
    top: 145px;
}

.price-item {
    margin-left: 28px;
}